*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto';
}
html{
    scroll-behavior: smooth;
}
#about{
    width: 100%;
    background: #fff;
    display: flex;
    -webkit-display:flex;
    -moz-display:flex;
    -ms-display:flex;
    -o-display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .9s ease;
    padding-bottom: 100px;
}
#about #aboutitle{
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    font-family: 'Merienda';
    font-size: 40px;
}
#line{
    max-width: 270px;
    width: 260px;
    height: 7px;
    background: crimson;
    border-radius: 8px;
}
#about .column{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.text{
    margin: 35px;
}
.text h2{
    text-align: center;
    padding: 30px;
    font-family: 'Merienda';
}
.text p{
    padding: 40px;
    background: rgb(216, 216, 216);
    text-align: center;
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    transition: .3s ease;
}
.text p:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.column img{
    max-width: 100%;
    height: 290px;
    margin-top: 80px;
    margin-left: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* media queries for handeling the about page responsiveness*/
@media(min-width:1300px){
    #about img{
        margin-left: 160px;
    }
}
@media(min-width:1500px){
    #about img{
        margin-left: 250px;
    }
}
@media(min-width:1700px){
    #about .column{
        margin: 80px;
    }
    #about img{
        margin-left: auto;
    }
}
@media(max-width:1130px){
    .column img{
        margin-left: auto;
    }
}
@media(max-width:750px){
    #about .column{
        grid-template-columns: 1fr;
    }
    #about img{
        margin: auto;
    }
}
@media(max-width:505px){
    #about #aboutitle{
        font-size: 28px;
    }
    #line{
        width: 180px;
    }
    .text{
        margin: 10px;
    }
    .column{
        margin: 10px;
    }
    .text h2{
        font-size: 20px;
    }
    #about p{
        padding: 20px;
    }
    #about img{
        margin: auto;
        height: 220px; 
    }
}

/* discover section */
#discover{
    width: 100%;
    background: #C21336;
    padding-bottom: 50px;
}
#discovertitle{
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    font-family: 'Merienda';
    font-size: 45px;
    color: #fff;
}
#discover main{
    display: flex;
    -webkit-display:flex;
    -moz-display:flex;
    -ms-display:flex;
    -o-display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#discover .place{
    width: 390px;
    background: #fff;
    margin: 50px;
    transition: .3s linear;
    border-radius: 5px;
}
.place:hover{
    transform: translateY(-10px);
}
#discover h2{
    text-align: center;
    padding: 5px;
    font-size: 25px;
    font-weight: 700;
    color: #000;
}
.place:hover h2{
    text-decoration: underline;
}
#discover p{
    padding: 25px;
}
#discover img{
    width: 93%;
    height: 200px;
    margin: 10px;
    border: 1px solid #000;
    transition: .2s ease;
}
#discover img:hover{
    transform: scale(1.02);
}
/* responsiveness */
@media(max-width:920px){
    #discover .place{
        margin: 15px;
    }
}
@media(max-width:730px){
    #discover main{
        flex-direction: column;
        padding: 0 50px;
    }
    #discover img{
        width: 96%;
    }
}
@media(max-width:600px){
    #discover main{
        padding: 0;
    }
    #discovertitle{
        font-size: 35px;
    }
    #discover .place{
        width: auto;
        -webkit-width:auto;
    }
}
@media(max-width:400px){
    #discover img{
        width: 93%;
    }
}
/* Footer Section */
footer{
    width: 100%;
    height: 80px;
    background: #fff;
    display: flex;
    -webkit-display:flex;
    -moz-display:flex;
    -ms-display:flex;
    -o-display:flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    text-align: center;
    border-top: 1px solid #ccc;
}
footer h1{
    font-weight: bold;
    font-family: 'Merienda';
    font-size: 30px;
    color: #000;
    margin: 0 20px;
    flex-basis: 20%;
}
footer p{
    text-align: center;
    flex-basis: 70%;
    font-size: 17px;
}
.sm{
    position: absolute;
    right: 40px;
}
.sm a{
    font-size: 27px;
    margin: 0 10px;
    transition: .4s ease;
}
.sm i{
    color: black;
}
.sm i:hover{
    color: crimson;
}
@media(max-width:750px){
    .sm{
        right: 35%;
        bottom: 0;
    }
    .sm a {
        font-size: 20px;
    }
    footer h1{
        margin: 0 5px;
        font-size: 25px;
    }
    footer p{
        font-size: 11px;
    }
}
/* Animated Counter section */
#counters{
    width: 100%;
    color: #fff;
    background: rgb(24, 24, 24);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#counters .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    align-items: center;
}
.box{
    margin: 50px 150px;
}
.box i{
    font-size: 65px;
    margin: 20px 0;
    color: rgb(250, 28, 73);
}
.counter{
    font-size: 40px;
    font-weight: bold;
}
.box h2{
    margin-top: 20px;
}
.box span{
    color: white;
}
/* the counter responsiveness */
@media(max-width:1000px){
    #counters .container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:700px){
    #counters .container{
        grid-template-columns: 1fr;
    }
}



