*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto';
}
html{
    scroll-behavior: smooth;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header{
    width: 100%;
    height: 80px;
    background: none;
    display: flex;
    -webkit-display:flex;
    -moz-display:flex;
    -ms-display:flex;
    -o-display:flex;
    align-items: center;
    flex-direction: row;
    transition: .5s ease;
    z-index: 1;
}
/* the sticky header */
.sticky{
    background: #fff;
    border-bottom: 2px solid #000;
    height: 75px;
    top: 0;
    position: sticky;
}
.sticky #logo{
    color: #000;
}
.sticky .nav-link{
    color: #000;
}
#logo{
    flex-basis: 30%;
    font-family: 'Merienda';
    color: #fff;
    padding-left: 50px;
    font-size: 40px;
    font-weight: bold;
}
nav{
    flex-basis: 70%;
    display: flex;
    -webkit-display:flex;
    -moz-display:flex;
    -ms-display:flex;
    -o-display:flex;
    justify-content: flex-end;
    align-items: center;
    transition: .4s ease; 
}
.nav-link{
    color: #fff;
    font-size: 16px;
    padding: 13px 24px;
    transition: .3s ease;
    border-radius: 60px;
}
.nav-link:hover{
    background: crimson;
}
.dropdown{
    background: #000;
    margin-top: 129px;
    width: 147.9px;
    background: transparent;
    height: 150px;
}
.dropdown-content{
    margin-top: 14.9px;
    transition: .4s ease;
    border-radius: 5px;
    display: block;
    background: #fff;
}
.drop-btn{
    text-align: center;
    padding: 11px 20px;
    color: crimson;
    display: block;
    transition: .2s linear;
}
.drop-btn1{
    text-align: center;
    padding: 11px 20px;
    color: crimson;
    display: block;
    transition: .2s linear;
}
.drop-btn2{
    text-align: center;
    padding: 11px 20px;
    color: crimson;
    display: block;
    transition: .2s linear;
}
.drop-btn:hover ,.drop-btn1:hover , .drop-btn2:hover{
    background: crimson;
    color: #fff;
}
.active{
    margin-right: 50px;
    color: #fff;
    background: crimson;
    padding: 12px 25px;
    border-radius: 60px;
    font-weight: bold;
    font-size: 18px;
    transition: .3s ease;
    border: none;
    outline: none;
}
.active:hover{
    background: rgb(179, 8, 42);
}
.toggle{
    margin-right: 15px;
}
.toggle i{
    font-size: 28px;
    background: crimson;
    padding: 5px 9px;
    color: #fff;
    cursor: pointer;
    transition: .3s ease;
    display: none;
    border-radius: 5px;
}
.toggle i:hover{
    background: rgb(179, 8, 42);
}
.toggle button{
    border: none;
    outline: none;
    background: transparent;
}
/* Home section */
#home{
    width: 100%;
    height: 700px;
    display: flex;
    -webkit-display:flex;
    -moz-display:flex;
    -ms-display:flex;
    -o-display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#title{
    color: #fff;
    font-family: 'Merienda';
    font-weight: bold;
    font-size: 80px;
    padding: 20px;
    margin-top: 70px;
}
span{
    color: crimson;
    font-family: 'Merienda';
}
#home p{
    text-align: center;
    color: rgb(209, 202, 202);
    font-weight: 300;
    font-size: 21px;
    padding: 20px;
    margin-right: 160px; 
}
#home #home-btn{
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    padding: 15px 40px;
    background: crimson;
    border-radius: 60px;
    margin-top: 60px;
    margin-right: 510px;
    transition: .3s ease;
}
#home #home-btn:hover{
    background: rgb(179, 8, 42);
}
/* media querries for the home page */
@media (max-width:1039px){
    nav{
        margin-left: 20px;
    }
}
@media (max-width:1000px){
    #logo{
        font-size: 25px;
        padding-left: 20px;
    }
    .nav-link{
        font-size: 16px;
        margin-right: 0;
        padding: 13px 20px;
    }
}
@media (max-width:890px){
    #title{
        font-size: 40px;
        margin-top: 10px;
    }
    #home p{
        margin-right: 0;
    }
    #home #home-btn{
        margin-right: 0;
    }
}
@media (max-width:811px){
    .toggle{
        margin-left: 58%;
    }
    .toggle i{
        display: block;
    }
    nav{
        display: none;
    }
    .actif{
        position: fixed;
        background: #fff;
        display: block;
        width: 100%;
        height: 250px;
        top: 0;
        right: 0;
        z-index: 1;
        transition: .5s linear;
    }
    .nav-link{
        display: block;
        margin: 10px;
        text-align: center;
        color: black;
    }
    .nav-link:hover{
        color: #fff;
    }
    .dropdown{
        margin-top: 0;
        text-align: center;
        height: 50px;
        width: 100%;
    }
    .dropdown-content{
        display: none;
    }
    .nav-link i{
        display: none;
    }
    .active{
        text-align: center;
        margin-right: 0;
        margin: 10px;
        display: block;
    } 
}
@media (max-width:570px){
    .toggle{
        margin-left: 55%;
    }
    #title{
        font-size: 40px;
    }
    #home p{
        font-size: 16px;
        margin-bottom: 230px;     
    }
    #home #home-btn{
        font-size: 17px;
        padding: 13px 25px;
        position: absolute;
        top: 290px;
    }
}
@media (max-width:520px){
    .toggle{
        margin-left: 59%;
    }
}
@media (max-width:468px){
    .toggle{
        margin-left: 43%;
    }
}
@media (max-width:410px){
    .toggle{
        margin-left: 45.5%;
    }
}